.login-background {
    width: 100%;
    height: 100vh;
    background: linear-gradient(290deg, #4C49ED 7.45%, #FC62FF 129.66%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

@keyframes opacityAnimation {
    0% {
        opacity: 1;
        background: linear-gradient(290deg, #4C49ED 7.45%, #FC62FF 129.66%);
    }
    50% {
        opacity: 0.5;
        background: linear-gradient(290deg, #FC62FF 7.45%, #4C49ED 129.66%);
    }
    100% {
        opacity: 1;
        background: linear-gradient(290deg, #4C49ED 7.45%, #FC62FF 129.66%);
    }
}

/* ซ่อนปุ่มเพิ่ม-ลดใน input type number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

